
html,body{
    color:#4d4e53;
    font-family:'opens Sans',Arial, sans-serif;
    background-color: #ffffff;
    line-height: 1.5;
    margin-left:0;
}
header{
    color:black;
    font-weight:700;
    font-size: 1.8em;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap:50px;
}

#titles-link{
 position:relative;
 width: 100%;;

}
#navbar{
    position:fixed;
    width: 250px;
    height: 200%;
    min-width:150px;
   
    
}
#top-links-title{
   padding-left:20px;
}
#titles{
    
    
    scroll-behavior: smooth;
    position:absolute;
    padding-right:2px;
    padding-left: 0;
    height:800px;
    margin-right:5px;
 
   
}
#titles li{
    list-style-type:none;
    margin: 50px 0;
    padding-left:23px;  
}



a{
    text-decoration: none;
    color:inherit;

}
hr{width:100%;}

@media only screen and (max-width:768px){
    
}




