
html,body{
    color:#4d4e53;
    font-family:'opens Sans',Arial, sans-serif;
    background-color: #ffffff;
    line-height: 1.5;
    margin-left:0;
}
header{
    color:black;
    font-weight:700;
    font-size: 1.8em;
}
code{
    background-color: #f7f7f7;
    display:block;
    line-height:2;
    padding:15px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap:0;
}

#titles-link{
 position:relative;
 width: 100%;


}
#navbar{
    position:fixed;
    top:0;
    left:0;
    width: 220px;
    height: 100%;
    min-width:200px;
    border-right:1px solid;
  
   
    
}
#top-links-title{
   padding-left:20px;
  
}
#titles{
    
    scroll-behavior: smooth;
    position:absolute;
    padding:0;
    height:90%;
    overflow-x:hidden;
    overflow-y:auto;
    right:0;
    left:0;
   
 
   
}
#titles li{
    list-style-type:none;
    border-top:1px solid;
    
    padding:20px;
}
#titles li:last-child{
    margin-bottom:50px;
}



a{
    text-decoration: none;
    color:inherit;

}
hr{width:100%;}

@media  screen and (max-width: 1236px){
    .container{
        grid-gap:100px;
    }
}
@media  screen and (max-width: 750px){
    .container{
      display:block;
    }
    #main-doc{
        margin-top:750px;
        padding:0 20px;
       
    }
    header{
        text-align:center;
    }
    #navbar{
        position:static;
        border:hidden;
    }
    #titles-link{position:static}
  p{
      text-align: justify;
  }


}




